* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .navbar__header {
        background: #545454;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-bottom: 0.3rem solid #d24dff;
    }
    
    .navbar__btn {
        align-self: center;
        border: 5px solid #d24dff;
        cursor: pointer;
    }
    
    
    .bar1, .bar2, .bar3 {
      width: 30px;
      height: 5px;
      margin: 0.5rem;  
      background: #d24dff;
      transition: all 2s ease;
    }
    
    .change .bar1 {
    transform: rotate(-45deg) translate(-10px, 10px)
    }
    
    .change .bar2 {
        opacity: 0;
        }
    
        .change .bar3 {
            transform: rotate(45deg) translate(-7px, -8px)
            }
    .navbar__links {
        list-style-type: none;
        transition: all 2s ease;
        /**/
        height: 0;
        overflow: hidden;
    }
    .navbar__collapse {
        height: 240px;
    }
    
    .navbar__single-link {
        display: block;
        background: #69747c;
        padding: 1rem;
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: capitalize;
        color: #6baa75;
        transition: all 1s ease;
        cursor: pointer;
    }
    
    .navbar__single-link:hover {
        padding-left: 1.5rem;
        background: #545454;
    }

    .header {
        min-height: calc(100vh - 91.8px);
        background: url('./img/pac-man.png') center/cover no-repeat;
    }
    
    .title {
        text-align: center;
        font-size: 50px;
        color: #00FF00;
    }

    .images {
        background: url('./img/pac-man.png') center/cover no-repeat;
        flex: 0 0 80%;
        min-height: 90vh;
        background: url('./img/bcg-0.png')center/cover no-repeat;
        border-radius: 15px;
        box-shadow: 5px 10px black;
        position: relative;
    }
    
    .btn {
        display: inline-block;
        background: white;
        color: black;
        border: 3px solid green;
        font-size: 1.5rem;
        padding: 0.5rem;
        border-radius: 20%;
        box-shadow: 2px 5px black;
        outline: none;
    }
    
    .prevBtn {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%,-50%);
    }
    
    .nextBtn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%,-50%);
    }
    
    .btn:active {
        background: grey;
        box-shadow: 1px 1px grey;
    }
    
    .btn:hover {
        background: green;
        color: white;
    
    }